<footer class="page__footer">
  <div class="page__footer-inner">
    <div class="footer__content">
        <!-- <img src="{{ '/assets/images/snu-logo.png' | relative_url }}" alt="SNU" style="height:48px; width:auto;"> -->
        <!-- <p class="dept">Department of Statistics, Seoul National University</p>-->
         <p class="links">
          <a href="https://stat.snu.ac.kr">Department of Statistics</a>, 
          <a href="https://www.snu.ac.kr">Seoul National University</a>
        </p>
        <p class="copyright">© 2025 Causal Inference Lab, SNU. All rights reserved.</p>
    </div>
  </div>
</footer>
