.site-title {
  font-family: $serif;
  font-weight: 700;
}


.masthead,
.greedy-nav {
  background: transparent !important; /* let wrapper's bg show through */
  border-bottom: none !important;
  box-shadow: none !important;
}


